{% extends 'sidebar.html' %}

{% load static %}
{% load tasks_tags %}

{% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %} ">
    <title>Stats Page</title>
{% endblock %}

{% block main_block %}
    {% get_active_students as students %}
    {% for student in students %}

        {% get_n_solutions user=student as number %}
        {% get_percent_success_solutions user=student as success %}
        <div class="student-info">
            <p>Фамилия Имя: {{student.first_name}} {{student.last_name}}</p>
            <p>Группа: {{student.id_group.name}}</p>
            <p>Количество Решенных задач: {{student.tasks_completed}}</p>
            <p>Количество попыток всего: {{ number }}</p>
            <p>% удачных решений: {{ success }}</p>
            <p>Дата последнего логина: {{student.last_login}}</p>
            <p></p>
        </div>
    {% endfor %}
{% endblock %}